@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.grad {
    /* text-shadow: 0px 0px 2px rgba(160, 160, 160, 1); */
    background: linear-gradient(to right, #3494e6, #ec6ead);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradJumbo {
    text-shadow: 0px 0px 3px rgba(94, 94, 94, 1);
    text-align: center;
    box-shadow: 0px 0px 3px 0px #eee;
    color: white;
    background: linear-gradient(
        to right,
        rgba(52, 148, 230, 0.3),
        rgba(236, 110, 173, 0.3)
    );
}

.gradBorder {
    /* background-color: red; */
    /* border: solid; */
    border-image: -webkit-linear-gradient(to right, #3494e6, #ec6ead) 1 !important;
}

.imgbg {
    height: 100%;
    background-color: red;
    /* background-image: url('./sp.jpeg'); */
    filter: blur(50px);
    -webkit-filter: blur(50px);
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.gradLink:hover {
    /* box-shadow: 0px 0px 20px 0px #ccc; */
    border: 2px solid;
    border-image: linear-gradient(to right, #3494e6, #ec6ead) 1;
    border-width: 0 0 2px 0;
    padding-bottom: 2px;
}

.sicon {
    font-size: 1.25em !important;
}

.sicon:hover {
    background: linear-gradient(to right, #3494e6, #ec6ead);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.bg {
    /* The image used */
    background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.redText {
    color: red;
}

.greenText {
    color: rgb(0, 255, 0);
}

.blueText {
    color: blue;
}

.arcadeScreen {
    font-family: 'Press Start 2P', cursive;
}

#monitor {
    margin: 2em auto;
    width: 90vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1f2c23;
    padding: 4rem 2rem;
    border-radius: 0.5rem;
}

#bezel {
    position: relative;
    width: 100%;
    height: 67.5vmin;
    border: 30px solid transparent;
    border-image-source: url(./bezel.png);
    border-image-slice: 30 fill;
    border-image-outset: 0;
    overflow: hidden;
}

#cr1t {
    position: relative;
    height: 100%;
    /* background: var(--bg); */
    background-image: radial-gradient(ellipse, var(--bg) 0%, var(--off) 90%);
    /* animation: on 2s linear; */
}

#crt1:after {
    content: ' ';
    opacity: 0;
    background: #fff;
    display: block;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}

@media only screen and (max-width: 1280px) {
    .terminalfont {
        font-size: px;
    }
}

@media only screen and (max-width: 415px) {
    .terminalfont {
        font-size: 15px;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}
