@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.grad {
    /* text-shadow: 0px 0px 2px rgba(160, 160, 160, 1); */
    background: linear-gradient(to right, #3494e6, #ec6ead);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: typing 10;
}

.gradJumbo {
    text-shadow: 0px 0px 3px rgba(94, 94, 94, 1);
    text-align: center;
    box-shadow: 0px 0px 3px 0px #eee;
    color: white;
    background: linear-gradient(
        to right,
        rgba(52, 148, 230, 0.5),
        rgba(236, 110, 173, 0.5)
    );
}

.gradBorder {
    /* background-color: red; */
    /* border: solid; */
    border-image: -webkit-linear-gradient(right, #3494e6, #ec6ead) 1 !important;
}

.imgbg {
    height: 100%;
    background-color: red;
    /* background-image: url('./sp.jpeg'); */
    filter: blur(50px);
    -webkit-filter: blur(50px);
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.gradLink:hover {
    /* box-shadow: 0px 0px 20px 0px #ccc; */
    border: 2px solid;
    border-image: -webkit-linear-gradient(right, #3494e6, #ec6ead) 1 !important;
    border-width: 0 0 2px 0;
    padding-bottom: 2px;
}

.sicon {
    font-size: 1.25em !important;
}

.sicon:hover {
    background: -webkit-linear-gradient(right, #3494e6, #ec6ead);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.bg {
    /* The image used */
    background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.redText {
    color: red;
}

.greenText {
    color: rgb(0, 255, 0);
}

.blueText {
    color: blue;
}

.arcadeScreen {
    font-family: 'Press Start 2P', cursive;
}

#monitor {
    margin: 2em auto;
    width: 90vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1f2c23;
    padding: 4rem 2rem;
    border-radius: 0.5rem;
}

#bezel {
    position: relative;
    width: 100%;
    height: 67.5vmin;
    border: 30px solid transparent;
    border-image-source: url(./bezel.png);
    border-image-slice: 30 fill;
    border-image-outset: 0;
    overflow: hidden;
}

#cr1t {
    position: relative;
    height: 100%;
    /* background: var(--bg); */
    background-image: radial-gradient(ellipse, var(--bg) 0%, var(--off) 90%);
    /* animation: on 2s linear; */
}

#crt1:after {
    content: ' ';
    opacity: 0;
    background: #fff;
    display: block;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}

@media only screen and (max-width: 1280px) {
    .terminalfont {
        font-size: px;
    }
}

@media only screen and (max-width: 415px) {
    .terminalfont {
        font-size: 15px;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.navb {
    color: lightgrey;
}

.skillbar {
    margin-top: '-0.8em';
    margin-bottom: '-0.5em';
}

@import url('https://fonts.googleapis.com/css?family=DM+Mono');

.typewriterContainer {
    font-family: 'DM Mono', monospace;
    font-weight: 900 !important;
    display: inline-block;
}

.typewriterContainer h1,
h5 {
    font-weight: 900 !important;
}

.typewriter {
    /* display: inline; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.2em solid gray;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.01em; /* Adjust as needed */
    /* animation: typing 1.5s steps(11, end), blink-caret 0.75s step-end infinite; */
    animation: typewriter 1s steps(11) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) 5;
}

.typewriter2 {
    /* display: inline; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.1em solid transparent;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.01em; /* Adjust as needed */
    /* animation: typing 1.5s steps(11, end), blink-caret 0.75s step-end infinite; */
    animation: typewriter 2s steps(25) 3.5s 1 normal both,
        blinkTextCursor 500ms steps(44) 2.5s infinite;
}

@keyframes blinkTextCursor {
    from {
        border-right-color: transparent;
    }
    to {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
}
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
        border-right-color: transparent;
    }
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: gray;
    }
}
